body{
  background-color: lightgray;
}


header{
  display: flexbox;
  justify-content: center;
  text-align: center;
  border: 5px solid black;
  margin-bottom: 20px;
}

nav{
  display: flex;
  justify-content: center;
  border: dashed 3px black;
  margin-top: 20px;
  margin-bottom: 20px;
}


#form-div{
  display: inline-block;
  position: sticky; top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid black;
}

#input-form{
  display: flex;
  flex-direction: column;
}

form > *{
  padding: 3px;
}

#submit-btn{
margin-top: 5px;
}

#clear-btn{
  margin-top: 5px;
}